-# %div.article{class: "card#{article}"}
-#   .article__image
-#   %p.article__title
-#     =article
.article{data: {id: "#{article.id}"}}
  .article__image
    =image_tag article.image.url, size: "290x290"
    %ul.article-ope
      -if user_signed_in? && article.user.id == current_user.id
        %li.article-ope__list
          = link_to edit_article_path(article.id) do
            編集
        %li.article-ope__list
          = link_to do
            削除
  %p.article__title
    =article.title