.wrapper
  = render 'shared/header'
  .contents
    .cover-layer
    .articles
      -# -@articles.each do |article|
      -#   =render partial: 'article', locals: {article: article}
      =render @articles
    =paginate(@articles)
  %footer