.wrapper
  %header.header
    .header__logo
      =link_to root_path do
        MINI-BLOG
    %ul.header__btns
      -if user_signed_in?
        %li.header__btns__list
          =link_to new_article_path do
            =fa_icon('pencil-square')
        %li.header__btns__list
          =link_to destroy_user_session_path, method: :delete do
            =fa_icon('sign-out')
      -else
        %li.header__btns__list
          =link_to user_session_path do
            Log-in
  .contents
    .cover-layer
    .articles
      -# -@articles.each do |article|
      -#   =render partial: 'article', locals: {article: article}
      =render @articles
  %footer