.wrapper
  .contents
    .article-view
      .article-view__title
        %h1
          = @article.title
      .article-view__image
        =image_tag @article.image.url
      .article-view__content
        =simple_format(@article.content)