// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$article-image-size: 300px;
$main-color: hsl(300, 59%, 67%);

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}

.contents{
  padding-top: 70px;
}

.cover-layer{
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: rgba($color: black, $alpha: 0.4);
  display: none;
}

.visible{
  display: block;
}

.header{
  width: 100%;
  background-color: $main-color;
  @include single-block(70px);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  &__logo{
    width: 200px;
    padding: 0 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    a{
      color: black;
    }
  }
  &__btns{
    display: flex;
    padding: 10px 20px;
    a{
      color: rgb(82, 82, 82);
      font-size: 20px;
    }
    &__list{
      height: 50px;
      line-height: 50px;
      padding-left: 20px;
      font-size: 2rem;
      vertical-align: bottom;
    }
  }
}

.articles{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: $article-image-size*3;
  min-height:  $article-image-size*3;
  margin: 0 auto;
}

.article{
  background-color: white;
  height: $article-image-size;
  width: $article-image-size;
  cursor: pointer;
  position: relative;
  &__image{
    margin: 5px auto;
  }
  &__title{
    background-color: rgba($color: white, $alpha: 0.5);
    margin: 5px;
    padding: 3px;
    position: absolute;
    bottom: 0;
  }
}

@for $i from 1 through 20 {
  .card#{$i}{
    background-color: rgb(random(360),random(360),random(360));
  }
}